head, body, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Lato';
}

#header-section {
    margin-top: 4%;
    background-image: url('../images/taiwan/GaoMei.jpeg');
	text-align:center;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header-section h1 {
    font-size: 3.5em;
    text-align: center;
    padding: 15%;
}
#header-section img {
    height: auto;
}
.glyphicon {
    color: white;
    font-size: 50px;
    padding-top: 7%;
}
#about-section, #locations {
    color: black;
    text-align: center;
}
#about-section {
    padding-top: 3%;
    padding-bottom: 3%;
}
#mytravels-section {
    margin-left: 5%;
    margin-right:5%;
}
#me {
    margin-top: 10%;
    margin-left: 2%;
}
#resume {
    margin-top: 5%;
}
.img {
    height: 500px;
}
#disqus_thread {
    padding-left: 5%;
    padding-right: 5%; 
}
#locations {
    margin-bottom: 3%;
}
.carousel-inner {
    max-height: 550px;
}
.carousel-inner img {
    width: auto;
    height: auto;
    max-height: 550px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    display: inline;
}

#footer {
    background-color: black;
    text-align: right;
}
@media only screen and (max-width: 500px) {
    iframe {
        width: 380px;
        margin-left: -.5%;
    }
    #about-section h1, p {
        text-align: center;
    }
    body {
        margin-right: -30px;
    }

}
